[submodule "modes/verilog-minor-mode"]
	path = modes/verilog-minor-mode
	url = ../verilog-minor-mode.git
[submodule "modes/uvm-log-mode"]
	path = modes/uvm-log-mode
	url = ../uvm-log-mode.git
[submodule "modes/faker-mode"]
	path = modes/faker-mode
	url = ../faker-mode.git
[submodule "modes/ido-compleating-read-in-buffer"]
	path = modes/ido-compleating-read-in-buffer
	url = ../ido-compleating-read-in-buffer.git
[submodule "modes/etags-wrapper"]
	path = modes/etags-wrapper
	url = ../etags-wrapper.git
[submodule "modes/cminor-mode"]
	path = modes/cminor-mode
	url = ../cminor-mode.git
